/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-size: 100%;
  list-style-type: none;
  text-decoration: none;
}
/* CUSTOM CLASSES */
:root {
  --ff-primary: "helvetica-bold", sans-serif;
  --ff-p-regular: "helvetica", sans-serif;
  --ff-p-oblique: "helvetica-obl", sans-serif;
  --ff-secondary: "acumin-pro", sans-serif;
  --ff-s-bold: "acumin-pro-bold", sans-serif;

  --clr-white: #fff;
  --clr-pink: #fa6980;
  --clr-dark: #202124;
  --clr-grey: #a6adb4;
  --clr-link: #707070;
  --clr-hover: #343638;

  --fs-big: 1.5rem;
  --fs-medium: 1rem;
  --fs-small: 0.8125rem;
}
/* CUSTOM CLASSES */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.container {
  position: relative;
  padding: 40px 24px;
}

.heading {
  text-transform: uppercase;
  font-size: var(--fs-big);
}

/* HEADER STYLES */
.header {
  min-height: 50px;
}

.header__wrapper {
  justify-content: space-between;
}

.logo__text {
  font-size: var(--fs-small);
  color: var(--clr-pink);
  text-transform: uppercase;
}

/* NAVBAR STYLES */
.nav-bar {
  display: none;
}

.nav-item {
  text-transform: uppercase;
  font-size: var(--fs-small);
}

.nav-item a {
  color: var(--clr-link);
}

.nav-item a:hover {
  color: var(--clr-hover);
}

/* MAIN STYLES */
.main__wrapper {
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/overlay.png);
  user-select: none;
  pointer-events: none;
}
/* NEWS STYLES */
.news-container {
  color: var(--clr-white);
  background-image: url(../images/main-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

hr {
  width: 100%;
  margin: 40px 0 45px 0;
  border: 1px solid var(--clr-white);
}

.news__article {
  display: inline-block;
}

.news__title,
.hero__title {
  margin: 0 0 60px 0;
  font-size: var(--fs-big);
}

.news__text {
  margin: 0 0 39px 0;
  font-family: var(--ff-p-regular);
  font-size: var(--fs-medium);
  line-height: 1.5rem;
}

.btn {
  padding: 15px 38px;
  background-color: var(--clr-pink);
  border-radius: 0.5rem;
  border: none;
  color: var(--clr-white);
  text-transform: uppercase;
}
/* MORE NEWS STYLES */
.box {
  margin: 0 0 80px 0;
  justify-content: space-between;
}

.btn-container {
  gap: 35px;
}

.article {
  position: relative;
  margin: 0 0 50px 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.article__heading {
  font-size: var(--fs-medium);
  color: var(--clr-pink);
}

.article__title {
  margin: 25px 0 20px 0;
}

.article__text {
  margin: 0 0 40px 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-medium);
  color: var(--clr-grey);
}

.article__details {
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--fs-small);
  color: var(--clr-grey);
}

.article__details * {
  font-family: var(--ff-p-oblique);
}

.article__details-span {
  text-decoration: underline;
}

/* SECTION 2 STYLES */
.trending-container {
  margin: 0 auto;
  flex-direction: column;
}

.trending__box {
  width: 100%;
  margin: 0 0 40px 0;
}

.trending__article-box {
  flex-direction: column;
}

.trending__article:nth-last-child(1) {
  display: none;
}

.article__img {
  width: 100%;
  min-height: 154px;
  display: inline;
}

.article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* SECTION 3 */
.now__container {
  flex-direction: column;
}

.now__box {
  width: 100%;
  margin: 0 0 40px 0;
}

.now__article-primary {
  flex-direction: column;
}

.now__article {
  position: relative;
  max-width: 610px;
  min-height: 300px;
  margin: 0 0 40px 0;
  padding: 25px 35px;
  color: var(--clr-white);
}

.now__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.now-bg-one {
  background-image: url(../images/now-article-1.jpg);
}

.now-bg-two {
  background-image: url(../images/now-article-2.jpg);
}

.now__article-title {
  margin: 0 0 65px 0;
  text-transform: uppercase;
}

.article__title-large {
  font-size: var(--fs-big);
}

.now__article-text {
  margin: 45px 0 10px 0;
  color: var(--clr-white);
  line-height: 1.5rem;
}

.now-sec__article {
  max-width: 380px;
  margin: 0 auto 40px;
}

.sec-article__title {
  font-family: var(--ff-s-bold);
  margin: 25px 0 15px 0;
}

.sec-article__img img {
  max-height: 180px;
  border-radius: 0.5rem;
}

.footer {
  display: none;
}

/* MORE.HTML STYLES */
.more__header {
  margin-bottom: 35px;
}

.box__items {
  display: none;
}

.hero-section {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.hero__box {
  margin: 0 0 50px 0;
  padding: 0 0.3rem;
}

.hero__container {
  min-height: 400px;

  width: 460px;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--clr-white);
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  font-size: 32px;
}

.hero__text {
  margin: 0 0 40px;
  max-width: 360px;
}

.hr {
  margin: 20px 0;
  max-width: 40px;
  border: 1px solid var(--clr-pink);
}

.items__text {
  margin: 0 0 0 30px;
  gap: 20px;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: var(--fs-small);
  color: var(--clr-dark);
}

.items__text p:nth-last-child(1) {
  color: var(--clr-grey);
  font-family: var(--ff-s-bold);
}

.more-news-container {
  width: 100%;
  padding: 0 1rem;
  margin: 60px auto;
}

.form {
  max-width: 446px;
}
.form,
.input-field__wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.input-field__wrapper {
  width: 100%;
  gap: 10px;
}

.input-field__wrapper label {
  font-family: var(--ff-s-bold);
  font-size: var(--fs-small);
}

.date-input,
.free-input {
  width: 100%;
  padding: 1rem 1.25rem;
  color: #20212460;
  outline: none;
  border: 1px solid rgba(2, 2, 2, 0.205);
  border-radius: 0.5rem;
}

.search-btn {
  font-size: var(--fs-small);
  padding: 1rem 1.5rem;
}

.user-article__wrapper {
  position: relative;
  flex-direction: column;
  margin-bottom: 100px;
}

.user-article__heading {
  margin: 30px 0;
  font-family: var(--ff-s-bold);
}

.user-article__text-wrapper {
  flex-direction: column;
}

.user-article__text {
  max-width: 280px;
  font-family: var(--ff-p-regular);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.user-article__text-secondary {
  max-width: 610px;
}

.user-article__text-wrapper p:nth-last-child(2) {
  margin: 0 0 20px 0;
}

.user-article__details {
  margin-bottom: 80px;
}

.user-article__img {
  margin: 0 0 20px;
  margin: 0 auto 20px;
  max-width: 610px;
  min-height: 180px;
  text-align: center;
}

.user-article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-article__text-oblique {
  margin-top: 40px;
  color: var(--clr-dark);
  font-family: var(--ff-p-oblique);
  font-size: 1rem;
}

.pages-wrapper {
  position: absolute;
  max-width: 235px;
  gap: 30px;
  bottom: -60px;
  font-family: var(--ff-p-regular);
  font-size: var(--fs-small);
  color: var(--clr-grey);
}
