:root {
    --ff-primary: 'helvetica';
    --ff-secondary: 'acumin-pro';

    --clr-pink: #FA6980;
    --clr-dark: #202124;
    --clr-grey: #A6ADB4;

    --fs-big: 1.5rem;
    --fs-medium: 1rem;
    --fs-small: 0.8125rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    font-size: 100%;
    list-style-type: none;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header {
    min-height: 50px;
  }

.header__wrapper {
    justify-content: space-between;
}

.logo__text {
    font-size: var(--fs-small);
    color: var(--clr-pink);
    text-transform: uppercase;
}

.nav-bar {
    display: none;
}

.nav-item {
    text-transform: uppercase;
    font-size: var(--fs-small);
}

.nav-item a {
    color: #707070;
}

.nav-item a:hover {
    color: #343638;
}