:root {
  --ff-primary: "helvetica-bold";
  --ff-p-regular: "helvetica";
  --ff-p-oblique: "helvetica-obl";
  --ff-secondary: "acumin-pro";
  --ff-s-bold: "acumin-pro-bold", sans-serif;

  --clr-white: #fff;
  --clr-pink: #fa6980;
  --clr-dark: #202124;
  --clr-grey: #a6adb4;

  --fs-big: 1.5rem;
  --fs-medium: 1rem;
  --fs-small: 0.8125rem;
}
@media (min-width: 480px) {
  .user-article__img {
    width: 75vw;
  }

  .user-article__text {
    width: 75vw;
  }

  .hero__container {
    width: 92vw;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 80px 80px 0;
  }

  .news-container {
    padding: 80px;
  }

  .burger {
    display: none;
  }

  .header__menu {
    gap: 40px;
  }

  .nav-bar {
    display: block;
  }

  .nav__list-wrapper {
    gap: 27px;
  }

  .btn-container {
    gap: 40px;
  }

  .article {
    max-width: 285px;
  }

  .article:nth-last-child(1) {
    margin: 0 0 0 30px;
  }

  .article__img {
    max-width: 284px;
    height: 180px;
  }

  .trending-container {
    padding: 0 80px;
  }

  .trending__article-box {
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .trending__article:nth-last-child(1),
  .now__article:nth-last-child(1) {
    margin: 0;
  }

  .article__trend-text {
    padding: 20px 25px;
  }

  .news__article:nth-last-child(1) {
    margin: 0 0 50px 30px;
  }

  .now__article {
    min-width: 610px;
  }
  .now__article-title {
    margin: 0 0 235px 0;
    text-transform: uppercase;
  }

  .now__article-secondary {
    margin: 40px 0 80px;
  }

  .now-sec__article {
    display: inline-block;
  }

  .now-sec__article:first-child {
    margin-right: 33px;
  }

  .now-sec__article:nth-last-child(1) {
    display: none;
  }

  .footer {
    background-color: var(--clr-grey);
    display: flex;
  }

  .footer__wrapper {
    position: relative;
    min-height: 312px;
    max-width: 1440px;
  }

  .footer__logo-text {
    position: absolute;
    top: 60px;
    left: 80px;
    font-family: var(--ff-s-bold);
    font-size: var(--fs-big);
    color: var(--clr-white);
    margin-bottom: 70px;
  }

  .footer__list-wrapper {
    position: absolute;
    margin: 0 10px 0 20px;
    display: flex;
    gap: 25px;
    top: 60px;
    right: 100px;
  }

  .footer__list {
    text-transform: uppercase;
    font-size: var(--fs-small);
    line-height: 1.5rem;
  }

  .footer__list-item a {
    font-size: var(--fs-small);
    color: #cbd0d3;
  }

  .footer__list-item a:hover {
    color: var(--clr-white);
  }

  .footer__input-wrapper {
    position: absolute;
    bottom: 60px;
    left: 80px;
  }

  .footer__input {
    width: 260px;
    max-height: 40px;
    padding: 1rem 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    background-color: transparent;
    outline: none;
  }

  ::placeholder {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
  }

  .footer__input-wrapper p {
    margin-top: 20px;
    font-family: var(--ff-p-regular);
    font-size: var(--fs-small);
    font-size: 0.6875rem;
    color: #cbd0d3;
  }

  .footer__social-icons {
    position: absolute;
    bottom: 60px;
    right: 80px;
    width: 100px;
    max-width: 100%;
    gap: 25px;
  }

  .prev-icon {
    display: none;
  }

  .box__items {
    display: flex;
  }

  .hero__container {
    margin: 0;
    max-width: 580px;
  }

  .hero__container {
    width: 610px;
    max-width: 100%;
  }

  .more-news-container {
    padding-left: 80px;
    margin: 0 0 60px;
    margin: 0 auto;
  }

  .date-input,
  .free-input {
    width: 446px;
  }

  .user-article__heading {
    max-width: 335px;
  }

  .user-article__text-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }

  .user-article__text-wrapper-secondary {
    flex-direction: column;
  }

  .user-article__text {
    line-height: 1.875rem;
    /* width: 100%; */
    margin: 0;
    max-width: 280px;
  }

  .user-article__text-secondary {
    width: 75vw;
    max-width: 75vw;
    /* margin: 0 auto 20px; */
    /* margin: 0 auto; */
  }

  .user-article__text-oblique {
    max-width: 75vw;
  }

  .user-article__img {
    height: 260px;
    /* width: 100%; */
    border-radius: 0.5rem;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 100px 80px 80px;
  }

  .section-1 {
    display: grid;
    grid-template-columns: 55% 1fr;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .article {
    max-width: 420px;
  }

  .article:nth-last-child(1) {
    margin: 0;
  }

  .article__img {
    max-width: 360px;
  }

  .trending-container {
    padding: 50px 80px;
  }

  .trending__article-box {
    justify-content: space-between;
  }

  .trending__article:nth-last-child(1) {
    display: block;
  }

  .now__container {
    display: grid;
    grid-template-columns: 60% 31.1%;
    grid-template-areas:
      "header header"
      "primary secondary";
    column-gap: 10%;
  }

  .box {

  }

  .now__box {
    grid-area: header;
  }

  .now__article-primary {
    grid-area: primary;
  }

  .now__article {
    max-width: 760px;
  }

  .now__article-secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    grid-area: secondary;
  }

  .now-sec__article {
    max-width: 360px;
    display: block;
    margin: 0 0 40px;
  }

  .now-sec__article:first-child {
    margin-right: 0;
  }

  .now-sec__article:nth-last-child(1) {
    display: block;
  }

  .sec-article__img img {
    min-height: 210px;
  }

  .footer__wrapper {
    padding-top: 60px;
    min-height: 200px;
    max-height: 278px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .footer__logo-text {
    position: static;
    margin: 0;
  }

  .footer__list-wrapper {
    position: static;
    gap: 50px;
  }

  .footer__input-wrapper {
    position: static;
  }

  .footer__social-icons {
    position: static;
    gap: 20px;
  }

  /* MORE.HTML STYLES */
  .hero__container {
    min-height: 500px;
    max-width: 580px;
  }

  .more-news-container {
    padding: 0 0 0 20px;
    max-width: 360px;
  }

  .more-news-container .box {
    margin: 40px 0;
  }

  .form {
    max-width: 360px;
  }

  .date-input,
  .free-input {
    max-width: 380px;
  }

  .user-article__wrapper {
    margin: 80px 0;
  }

  .user-article__secondary {
    width: 100%;
    max-width: 100%;
  }

  .user-article__text-oblique {
    display: none;
  }

  .flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sec-user {
    max-width: 760px;
  }

  .user-article__text-wrapper-secondary {
    width: 100%;
    max-width: 1160px;
  }

  .user-article__img {
    max-width: 1160px;
    width: 100%;
    height: 500px;
  }

  .user-article__img img {
    object-fit: cover;
  }

  .pages-wrapper {
    display: none;
  }
}
